.jumbotron {
    background-image: url("../images/random.jpg");
    margin-top: 20px;
}

h1 {
    background-color: gray;
    color: yellow;
    border: blue 3px solid;
    margin: 0 auto;
    width: 60%;
}

img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.choice:hover {
    background-color: gray;
    color: yellow;
    border: blue 3px solid;
    padding: 0px 5px 0px 5px;
}